{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Студенти</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/cover.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
</head>
<body class="text-center" style="height: fit-content; min-height: 100%">
<div class="cover-container d-flex p-3 mx-auto flex-column">

    <header class="masthead">
        <div class="inner">
            <h3 class="masthead-brand">Студенти</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link groups active" href="/groups">Групи</a>
                <a class="nav-link teachers" href="/students">Студенти</a>
                <a href="/accounts/logout/" class="nav-link">Вийти</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover text-left">
        <div class="card margin_card" style="margin-bottom: 0; background-color: transparent">
            <div class="card-header">
                <h3 class="card-title">Детальна інформація</h3>
            </div>

            <div class="card-block">
                <form class="form-group margin_form" style="margin-top: 10px" method="post" action="
            /group/save/{{ group.id|default:'' }}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name" data-model-name="name">Назва:</label>
                        <input type="text" class="form-control" name="name" id="name"
                               value="{{ group.name }}" required
                                {% if not current_user_is_admin.is_admin %}
                               readonly
                                {% endif %}>

                    </div>

                    <div class="form-group">
                        <label for="infoText" data-model-name="infoText">Додаткова інформація:</label>
                        <input type="text" class="form-control" name="infoText" id="infoText"
                               value="{{ group.infoText|default:'' }}"
                                {% if not current_user_is_admin.is_admin %}
                               readonly
                                {% endif %}>
                    </div>

                    {% if current_user_is_admin.is_admin %}
                        <input class="btn btn-secondary pull-right button_submit" type="submit" value="Зберегти">
                    {% endif %}
                </form>
            </div>
        </div>
        <br>
        <div class="card margin_card" style="background-color: transparent">
            <div class="card-header">
                <h3 class="card-title">Студенти</h3>
            </div>

            <div class="card-block">
                <table id="data" class="table table-sm table-striped">
                    <thead>
                    <tr align="center">
                        <th rowspan="2">Прізвище</th>
                        <th rowspan="2">Ім'я</th>
                        <th rowspan="2">По батькові</th>
                        <th rowspan="2">Дата народження</th>
                        <th rowspan="2"></th>
                        <th rowspan="2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in student_list %}
                        <tr align="center">
                            <td>{{ student.secondName }}</td>
                            <td>{{ student.firstName }}</td>
                            <td>{{ student.patronymicName }}</td>
                            <td>{{ student.birthDate|date:"Y-m-d" }}</td>
                            {% if current_user_is_admin.is_admin %}
                                <td><a target="_self"
                                       class="btn btn-secondary pull-right"
                                       href="/student/edit/{{ student.id }}">
                                    Детально
                                </a></td>
                                <td><a target="_self"
                                       class="btn btn-secondary pull-right"
                                       href="/student/delete/{{ student.id }}">
                                    Видалити
                                </a></td>
                            {% else %}
                                <td></td>
                                <td><a target="_self"
                                       class="btn btn-secondary pull-right"
                                       href="/student/edit/{{ student.id }}">
                                    Детально
                                </a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card margin_card" style="margin-top: 0; background-color: transparent">
            <div class="card-header">
                <h3 class="card-title">Успішність</h3>
            </div>

            <div class="row">
                <div class="col">
                    <table id="data" class="table table-sm table-striped">
                        <thead>
                        <tr align="center">
                            <th rowspan="2">Семестр</th>
                            <th rowspan="2">Середній бал</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr align="center">
                            <td>1</td>
                            <td>75</td>
                        </tr>
                        <tr align="center">
                            <td>2</td>
                            <td>72</td>
                        </tr>
                        <tr align="center">
                            <td>3</td>
                            <td>70</td>
                        </tr>
                        <tr align="center">
                            <td>4</td>
                            <td>78</td>
                        </tr>
                        <tr align="center">
                            <td>5</td>
                            <td>80</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>АПЕПС КПІ 2018</p>
        </div>
    </footer>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>
</body>
</html>