{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Студенти</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer-navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/cover.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
</head>
<body class="text-center" style="height: fit-content; min-height: 100%">
<div class="cover-container d-flex p-3 mx-auto flex-column">

    <header class="masthead">
        <div class="inner">
            <h3 class="masthead-brand">Студенти</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link groups " href="/groups">Групи</a>
                <a class="nav-link active" href="/students">Студенти</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4">
                            <h2>Студенти</h2>
                        </div>
                        <div class="col-sm-4">
                            <form class="form-inline my-2 my-lg-0" action="/students/search">
                                <input class="form-control mr-sm-2" type="text" name="searchText" placeholder="Пошук">
                                <button class="btn btn-primary my-0 my-sm-0" type="submit">Пошук</button>
                            </form>
                        </div>
                        <div class="col-sm-4">
                            <a href="/student/add" class="btn btn-primary">
                                <img style="width: 25px" src="{% static 'images/edit_white.png' %}" alt="Edit">
                                <span>Додати нового студента</span>
                            </a>
                        </div>
                    </div>
                </div>

                {% if student_list %}
                    <table class="table table-striped table-hover">

                        <thead>
                        <tr align="center">
                            <th>Прізвище</th>
                            <th>Ім'я</th>
                            <th>По батькові</th>
                            <th>Дата народження</th>
                            <th>Дія</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in student_list %}
                            <tr align="center">
                                <td>{{ student.secondName }}</td>
                                <td>{{ student.firstName }}</td>
                                <td>{{ student.patronymicName }}</td>
                                <td>{{ student.birthDate|date:"Y-m-d" }}</td>
                                <td>
                                    <a href="/student/edit/{{ student.id }}"><img style="width: 25px"
                                                                              src="{% static 'images/edit_white.png' %}"
                                                                              alt="Edit"></a>
                                    <a href="/student/delete/{{ student.id }}"><img style="width: 25px"
                                                                                src="{% static 'images/delete_white.png' %}"
                                                                                alt="Edit"></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h2 class="text-center">Нічого не знайдено</h2>
                {% endif %}
            </div>
        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>АПЕПС КПІ 2018</p>
        </div>
    </footer>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
</body>
</html>